<section class="medicos-section">
  <div class="medicos-encabezado">
    <h2>Nuestros Médicos Especialistas</h2>
    <div class="linea-decorativa-azul"></div>
    <p>Conoce al equipo de profesionales comprometidos con tu salud y bienestar</p>
  </div>

  <div class="medicos-grid">
    @for (medico of medicos(); track medico.id_medico) {
      <div class="medico-card">
        <div class="medico-foto-container">
          <img 
            [src]="getFotoMedico(medico.nombre, medico.apellido)" 
            [alt]="medico.nombre + ' ' + medico.apellido"
            class="medico-foto"
          />
        </div>
        <div class="medico-info">
          <span class="medico-especialidad">{{ medico.nombre_especialidad }}</span>
          
          <!-- Condición dinámica para Dr. o Dra. -->
          <h3>
            {{ medico.nombre.toLowerCase().includes('ana') ? 'Dra.' : 'Dr.' }}
            {{ medico.nombre }} {{ medico.apellido }}
          </h3>

          <p class="medico-telefono">📞 {{ medico.telefono }}</p>
          <p class="medico-equipo">🛠️ Equipos: {{ medico.equipo_disponible }}</p>
          <button class="btn-agendar-cita" (click)="seleccionar(medico.id_medico)">Agendar Cita</button>
        </div>
      </div>
    } @empty {
      <div style="grid-column: 1 / -1; text-align: center; padding: 2rem;">
        <p>Cargando médicos disponibles...</p>
      </div>
    }
  </div>
</section>
