<section class="medicos-section">
  <!-- Encabezado Institucional de Voltstack -->
  <div class="medicos-encabezado">
    <h2 class="titulo-medicos">Médicos Destacados</h2>
    <div class="linea-decorativa-medicos"></div>
    <p class="subtitulo-medicos">Selecciona un especialista médico para agendar tu cita de forma inmediata</p>
  </div>

  <!-- Contenedor Horizontal Adaptable -->
  <div class="medicos-flex-container">
    
    <!-- Bloque de Médico Individual -->
    <div 
      *ngFor="let doc of listaDoctores" 
      class="medico-tarjeta-accion" 
      (click)="seleccionar(doc.id)">
      
      <!-- Círculo contenedor de la foto real -->
      <div class="circulo-imagen-marco">
        <img [src]="doc.foto" [alt]="doc.nombre" class="foto-medico-src" />
        
        <!-- Capa hover interactiva -->
        <div class="capa-hover-agendar">
          <span>AGENDAR CITA</span>
        </div>
      </div>
      
      <!-- Información inferior descriptiva -->
      <h3 class="medico-nombre-texto">{{ doc.nombre }}</h3>
      <span class="medico-especialidad-etiqueta">{{ doc.especialidad }}</span>
      
      <!-- EVALUACIÓN DINÁMICA DE LA BASE DE DATOS MEDIANTE NGCLASS -->
      <span class="medico-status-badge" [ngClass]="doc.disponible ? 'status-verde' : 'status-rojo'">
        {{ doc.disponible ? '● Disponible Hoy' : '🚫 Agenda Llena' }}
      </span>

    </div>

  </div>
</section>
