<section class="farmacia-header">
  <h2>Farmacia Voltstack</h2>
  <p>Medicamentos certificados con entrega inmediata y total seguridad</p>

  <!-- Botones de Categorías -->
  <div class="filtros-categoria">
    <button 
      [class.active]="categoriaActual() === 'Todos'" 
      (click)="cargarMedicamentos('Todos')">
      Todos
    </button>
    <button 
      [class.active]="categoriaActual() === 'Analgésicos'" 
      (click)="cargarMedicamentos('Analgésicos')">
      Analgésicos
    </button>
    <button 
      [class.active]="categoriaActual() === 'Antibióticos'" 
      (click)="cargarMedicamentos('Antibióticos')">
      Antibióticos
    </button>
    <button 
      [class.active]="categoriaActual() === 'Antihistamínicos'" 
      (click)="cargarMedicamentos('Antihistamínicos')">
      Antihistamínicos
    </button>
    <button 
      [class.active]="categoriaActual() === 'Vitaminas'" 
      (click)="cargarMedicamentos('Vitaminas')">
      Vitaminas
    </button>
  </div>
</section>

<!-- Grilla de Tarjetas Dinámicas -->
<div class="medicamentos-grid">
  @for (med of medicamentos(); track med.id_medicamento) {
    <div class="card-medicamento">
      <span class="badge-cat">{{ med.categoria }}</span>
      <img [src]="med.imagen_url || 'paracetamol.png'" [alt]="med.nombre" />

      <div class="card-body">
        <h3>{{ med.nombre }}</h3>
        <p class="precio">Q {{ med.precio }}</p>

        <!-- Indicador de Stock reactivo -->
        @if (med.stock > 0) {
          <p class="en-stock">● En Stock</p>
          <button class="btn-carrito">Añadir al Carrito</button>
        } @else {
          <p class="agotado">⊘ Agotado</p>
          <button class="btn-agotado" disabled>Sin Existencias</button>
        }
      </div>
    </div>
  }
</div>