<div class="login-modulo-container">
  <div class="login-card-box">
    
    <!-- Encabezado Estructurado Estilo Panel Médico Adaptado al Cliente -->
    <div class="login-header">
      <div style="font-size: 2.5rem; margin-bottom: 10px;">🔐</div>
      <h2>Portal del Paciente</h2>
      <p>Área de autenticación para afiliados de la red hospitalaria Voltstack</p>
      <div class="linea-azul"></div>
    </div>

    <!-- Alerta de Error -->
     <div
  class="alerta-error-login"
  *ngIf="errorAutenticacion"
>
  ❌ {{ mensajeError }}
</div>
   <!--  <div class="alerta-error-login" *ngIf="errorAutenticacion">
      ❌ Acceso Denegado. Verifique su correo o contraseña de paciente.
      <br><span style="font-size: 0.78rem; font-weight: normal;">Prueba con: paciente@voltstack.com / 123456</span>
    </div> -->

    <!-- Formulario de Acceso Controlado -->
    <form #formLogin="ngForm" (ngSubmit)="ejecutarIngresar()">
      
      <div class="campo-grupo">
        <label>Correo electrónico</label>
        <input type="email" name="email" [(ngModel)]="credenciales.email" required placeholder="correo@ejemplo.com" />
        <!-- <input type="email" name="correo" [(ngModel)]="credenciales.correo" required placeholder="correo@ejemplo.com" /> -->
      </div>

      <div class="campo-grupo">
        <label>Contraseña del Portal</label>
        <input type="password" name="contrasenia" [(ngModel)]="credenciales.contrasenia" required placeholder="••••••••" />
        <!-- <input type="password" name="contrasena" [(ngModel)]="credenciales.contrasena" required placeholder="••••••••" /> -->
      </div>

      <button type="submit" class="btn-login-enviar" [disabled]="!formLogin.form.valid || cargando">
         {{ cargando ? 'Verificando...' : 'Iniciar sesión' }}
         
        </button>

    </form>

    <!-- Enlace de desvío al Registro de Nuevos Clientes -->
    <div class="login-footer-enlaces">
      <p>¿No tienes una cuenta médica? <a routerLink="/registro">Regístrate aquí</a></p>
    </div>

  </div>
</div>
